@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.header {
  padding: 36px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}
@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 16px 0px;
  }
}
.header__body {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__body {
    display: block;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
  transition: all 0.3s;
}
.header__logo + * {
  margin-left: 132px;
}
@media (max-width: 768px) {
  .header__logo + * {
    margin-left: unset;
    margin-top: 15px;
  }
}
.header__logo:hover {
  color: #ff7b47;
}
.header__menu {
  overflow-x: auto;
  white-space: nowrap;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    flex-wrap: nowrap;
  }
}
.menu__item:not(:last-child) {
  margin-right: 21px;
}
.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #ff7b47;
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 18px;
  }
}

.main {
  flex: 1 1 auto;
}

.first {
  position: relative;
  padding: 184px 0px 191px;
}
@media (max-width: 1000px) {
  .first {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .first {
    padding-top: 0px;
    padding-bottom: 35px;
    margin-bottom: unset;
  }
}
.first__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 1000px) {
  .first__image {
    opacity: 0.4;
  }
}
@media (max-width: 768px) {
  .first__image {
    position: relative;
    z-index: 1;
    height: 300px;
    opacity: 1;
    margin-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .first__image {
    height: 200px;
  }
}
.first__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.first__body {
  max-width: 509px;
}
.first__body > * + * {
  margin-top: 35px;
}
@media (max-width: 768px) {
  .first__body > * + * {
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .first__body {
    max-width: 100%;
  }
}
.first__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
  color: #252b42;
}
@media (max-width: 480px) {
  .first__title {
    font-size: 35px;
  }
}
.first__text {
  max-width: 376px;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 768px) {
  .first__text {
    max-width: 100%;
  }
}
.first__buttons > * + * {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .first__buttons > * + * {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .first__buttons {
    display: flex;
    flex-direction: column;
  }
}
.first__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 37px;
  padding: 10px 36px;
  background: transparent;
  border: 1px solid transparent;
}
.first__btn--orange {
  background: #ff7b47;
  color: #fff;
  transition: all 0.3s;
}
.first__btn--orange:hover {
  background: transparent;
  border-color: #0d5c63;
  color: #0d5c63;
}
.first__btn--green {
  color: #0d5c63;
  border-color: #0d5c63;
  transition: all 0.3s;
}
.first__btn--green:hover {
  background: #ff7b47;
  border-color: transparent;
  color: #fff;
}

.cards {
  position: relative;
  z-index: 2;
  margin-top: -111px;
  margin-bottom: -131px;
}
@media (max-width: 1000px) {
  .cards {
    margin: unset;
    margin-bottom: 15px;
  }
}
.cards__list {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 1000px) {
  .cards__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.cards__item {
  background: #fff;
  flex: 0 1 33.333%;
  margin: 0px 15px;
  padding: 35px 40px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .cards__item {
    flex: 0 1 46%;
  }
  .cards__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .cards__item {
    flex: 0 1 100%;
  }
}

.cards-item > * {
  transition: all 0.3s;
}
.cards-item:hover {
  background: #0d5c63;
  transform: scale(1.05);
}
.cards-item:hover > * {
  color: #fff;
}
.cards-item:hover svg path {
  fill: #fff;
}
.cards-item__icon {
  height: 47px;
  margin-bottom: 10px;
}
.cards-item__icon svg path {
  transition: all 0.3s;
}
.cards-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
  flex: 1 1 auto;
}
.experience {
  background: #fafafa;
  padding: 211px 0px 80px;
}
@media (max-width: 1000px) {
  .experience {
    padding: 80px 0px 25px;
  }
}
@media (max-width: 768px) {
  .experience {
    padding: 50px 0px 10px;
  }
}
.experience__title {
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .experience__title {
    font-size: 30px;
  }
}
.experience__text {
  max-width: 511px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .experience__text {
    margin-bottom: 25px;
  }
}
.experience__list {
  display: flex;
  margin: 0px -20px;
}
@media (max-width: 1000px) {
  .experience__list {
    flex-wrap: wrap;
  }
}
.experience__item {
  margin: 0px 20px;
  padding: 30px;
}

.experience-item {
  background: #fff;
  flex: 0 1 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  .experience-item {
    flex: 0 1 44%;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .experience-item {
    flex: 0 1 100%;
  }
  .experience-item:last-child {
    margin-bottom: unset;
  }
}
.experience-item__icon {
  height: 48px;
  margin-bottom: 10px;
}
.experience-item__numbers {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}
.experience-item__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.advice {
  background: #fafafa;
  padding: 125px 0px 80px;
}
@media (max-width: 1000px) {
  .advice {
    padding: 40px 0px 0px;
  }
}
@media (max-width: 768px) {
  .advice {
    padding-bottom: 15px;
  }
}
.advice__title {
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .advice__title {
    font-size: 30px;
  }
}
.advice__text {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .advice__text {
    margin-bottom: 25px;
  }
}
.advice__list {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 1000px) {
  .advice__list {
    flex-wrap: wrap;
  }
}
.advice__item {
  flex: 0 1 25%;
  margin: 0px 15px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .advice__item {
    flex: 0 1 46%;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .advice__item {
    flex: 0 1 100%;
  }
  .advice__item:last-child {
    margin-bottom: unset;
  }
}

.advice-item__content {
  padding: 30px;
  flex: 1 1 auto;
}
.advice-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}
.about {
  padding: 100px 0px 136px;
}
@media (max-width: 1000px) {
  .about {
    padding: 65px 0 80px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 50px 0;
  }
}
.about__title {
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .about__title {
    font-size: 30px;
  }
}
.about__text {
  text-align: center;
  max-width: 511px;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media (max-width: 1000px) {
  .about__text {
    margin-bottom: 45px;
  }
}
@media (max-width: 768px) {
  .about__text {
    margin-bottom: 25px;
  }
}
.about__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .about__content {
    flex-direction: column;
  }
}
.about__video {
  position: relative;
  flex: 0 1 597px;
  margin-right: 15px;
}
@media (max-width: 1000px) {
  .about__video {
    flex: 0 1 100%;
    margin-right: unset;
  }
}
.about__video a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .about__video a {
    display: block;
    width: 70px;
    height: 70px;
  }
}
.about__video a svg {
  max-width: 100%;
  height: 100%;
}
.about__video a svg rect {
  transition: all 0.3s;
}
.about__video a:hover svg rect {
  fill: #083a3f;
}
.about__info {
  flex: 0 1 333px;
}
@media (max-width: 1000px) {
  .about__info {
    flex: 0 1 100%;
  }
}

.about-info__title {
  margin: 20px 0px 10px;
}
@media (max-width: 1000px) {
  .about-info__title {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .about-info__title {
    margin-top: 25px;
  }
}
@media (max-width: 480px) {
  .about-info__title {
    font-size: 30px;
  }
}
.about-info__text {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .about-info__text {
    margin-bottom: 25px;
  }
}
.about-info__item {
  margin-bottom: 30px;
}
.about-info__item:last-child {
  margin-bottom: unset;
}
.about-info .info-item {
  display: flex;
}
.about-info .info-item__icon {
  width: 30px;
}
.about-info .info-item__icon svg {
  max-width: 100%;
}
.about-info .info-item__descr {
  margin-left: 20px;
}
.about-info .info-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 5px;
}
.about-info .info-item__text {
  font-weight: 600;
  line-height: 171%;
}

.partners {
  background: #fafafa;
  padding: 50px 0px 55px;
}
.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .partners__list {
    flex-wrap: wrap;
  }
}
.partners__item {
  margin-bottom: 15px;
}
.partners__item:not(:last-child) {
  margin-right: 30px;
}
.partners__link svg path {
  transition: all 0.3s;
}
.partners__link:hover svg path {
  fill: #ff7b47;
}

.subscribe {
  position: relative;
  padding-bottom: 20px;
  background: #fafafa;
}
.subscribe:after {
  content: "";
  width: 100%;
  height: 77px;
  background: #252b42;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .subscribe {
    background: #17213c;
    padding: 30px 0px;
  }
  .subscribe:after {
    display: none;
  }
}
.subscribe__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background: #17213c;
  max-width: 986px;
  margin: 0 auto;
  padding: 30px 40px 30px 50px;
}
@media (max-width: 768px) {
  .subscribe__body {
    flex-wrap: wrap;
    max-width: 100%;
    margin: unset;
    background: transparent;
    padding: unset;
  }
}
.subscribe__title {
  flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #fff;
  max-width: 266px;
}
@media (max-width: 768px) {
  .subscribe__title {
    max-width: 100%;
    flex: 0 1 100%;
    margin-bottom: 15px;
  }
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  font-weight: 400;
  line-height: 200%;
}
@media (max-width: 768px) {
  .subscribe__form {
    flex: 0 1 100%;
  }
}
@media (max-width: 480px) {
  .subscribe__form {
    flex-wrap: wrap;
  }
}

.subscribe-form__email {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-right: unset;
  border-radius: 5px 0px 0px 5px;
  padding: 14px 20px 14px 19px;
}
@media (max-width: 480px) {
  .subscribe-form__email {
    flex: 0 1 100%;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }
}
.subscribe-form__btn {
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 22px;
  background: #ff7b47;
  text-align: center;
  color: #fff;
}
@media (max-width: 480px) {
  .subscribe-form__btn {
    border-radius: 5px;
    flex: 0 1 100%;
  }
}

.getintouch {
  background: #f3f3f3;
  padding: 80px 0px 178px;
}
@media (max-width: 1000px) {
  .getintouch {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .getintouch {
    padding: 50px 0 50px;
  }
}
.getintouch__title {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 480px) {
  .getintouch__title {
    font-size: 30px;
  }
}
.getintouch__text {
  text-align: center;
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 110px;
}
@media (max-width: 1000px) {
  .getintouch__text {
    margin-bottom: 45px;
  }
}
@media (max-width: 768px) {
  .getintouch__text {
    margin-bottom: 25px;
  }
}
.getintouch__list {
  display: flex;
  max-width: 986px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .getintouch__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.getintouch__item {
  flex: 0 1 33.333%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
}
.getintouch__item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 1000px) {
  .getintouch__item:not(:last-child) {
    margin: 0;
    margin-bottom: 32px;
  }
}
@media (max-width: 1000px) {
  .getintouch__item {
    flex: 0 1 46%;
  }
  .getintouch__item:first-child {
    margin-right: 32px;
  }
}
@media (max-width: 1000px) and (max-width: 768px) {
  .getintouch__item:first-child {
    margin-right: unset;
  }
}
@media (max-width: 768px) {
  .getintouch__item {
    flex: 0 1 100%;
  }
}

.getintouch-item {
  transition: all 0.3s;
}
.getintouch-item:hover {
  background: #252b42;
  transform: scale(1.2);
}
.getintouch-item:hover .getintouch-item__icon svg path {
  fill: #fff;
}
.getintouch-item:hover .getintouch-item__text {
  color: #fff;
}
.getintouch-item:hover .getintouch-item__title {
  color: #fff;
}
.getintouch-item:hover .getintouch-item__btn {
  color: #fff;
  border-color: #fff;
}
@media (max-width: 1000px) {
  .getintouch-item:hover {
    transform: scale(1.1);
  }
}
.getintouch-item__icon {
  margin-bottom: 15px;
}
.getintouch-item__icon svg path {
  transition: all 0.3s;
}
.getintouch-item__text-box {
  margin-bottom: 15px;
  text-align: center;
}
.getintouch-item__text {
  font-weight: 600;
  line-height: 171%;
  color: #252b42;
  transition: all 0.3s;
}
.getintouch-item__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  transition: all 0.3s;
}
.getintouch-item__btn {
  font-weight: 600;
  line-height: 171%;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.footer {
  padding: 40px 0px 25px;
}
.footer__top {
  margin-bottom: 40px;
}
.footer__middle {
  background: #17213c;
  padding: 50px 0px;
}
.footer__bottom {
  margin-top: 25px;
}

.footer-top__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-top__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer-top__info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-top__info {
    margin-bottom: 30px;
  }
}
.footer-top__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
}
.footer-top__btn {
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #fff;
  background: #ff7b47;
  border-radius: 5px;
  padding: 15px 40px;
  margin-right: 38px;
  transition: all 0.3s;
}
.footer-top__btn:hover {
  border: 1px solid #0d5c63;
  background: transparent;
  color: #0d5c63;
}
@media (max-width: 1000px) {
  .footer-top__btn {
    margin-right: unset;
  }
}

.footer-middle__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer-middle__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .footer-middle__list {
    flex: 0 1 50%;
  }
  .footer-middle__list:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .footer-middle__list {
    flex: 0 1 100%;
  }
}
.footer-middle__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .footer-middle__title {
    margin-bottom: 15px;
  }
}
.footer-middle__item {
  display: flex;
}
.footer-middle__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-middle__link {
  font-weight: 600;
  line-height: 171%;
  color: #fff;
  transition: all 0.3s;
}
.footer-middle__link:hover {
  color: #ff7b47;
}
.footer-middle__icon {
  width: 24px;
  margin-right: 10px;
}
.footer-middle__icon svg {
  max-width: 100%;
}

.footer-bottom__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-bottom__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer-bottom__legal {
  font-weight: 600;
  line-height: 171%;
}
@media (max-width: 768px) {
  .footer-bottom__legal {
    margin-bottom: 15px;
  }
}
.footer-bottom__list {
  display: flex;
  margin: 0px 40px;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer-bottom__list {
    margin: unset;
  }
}
.footer-bottom__item + * {
  margin-left: 20px;
}
.footer-bottom__link svg {
  transition: all 0.3s;
}
.footer-bottom__link svg:hover {
  transform: scale(1.3);
}

.box__image {
  border: 5px solid #ff7b47;
  position: relative;
  padding-bottom: 71.4285714286%;
}
.box__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}