html,
body {
	height: 100%;
}

body {
	font-family: $main-font;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: calc(1046px + 30px);
	margin: 0 auto;
	padding: 0px 15px;
}

.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: $title-color;
}
