.cards {
	position: relative;
	z-index: 2;
	margin-top: -111px;
	margin-bottom: -131px;

	@media (max-width: 1000px) {
		margin: unset;
		margin-bottom: 15px;
	}

	&__body {
	}

	&__list {
		display: flex;
		margin: 0px -15px;

		@media (max-width: 1000px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		background: #fff;
		flex: 0 1 33.333%;
		margin: 0px 15px;
		padding: 35px 40px;
		transition: all 0.3s;
		display: flex;
		flex-direction: column;

		@media (max-width: 1000px) {
			flex: 0 1 46%;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
	}
}

.cards-item {
	//transition: all 0.3s;
	& > * {
		transition: all 0.3s;
	}
	&:hover {
		background: $green-color;
		& > * {
			color: #fff;
		}
		svg path {
			fill: #fff;
		}
		transform: scale(1.05);
	}

	&__icon {
		height: 47px;
		margin-bottom: 10px;
		svg path {
			transition: all 0.3s;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: $title-color;
		margin-bottom: 10px;
		flex: 1 1 auto;
	}

	&__text {
	}
}
