.header {
	padding: 36px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;

	@media (max-width: 768px) {
		position: relative;
		padding: 16px 0px;
	}

	&__body {
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			display: block;
		}
	}

	&__logo {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: $title-color;
		transition: all 0.3s;

		& + * {
			margin-left: 132px;

			@media (max-width: 768px) {
				margin-left: unset;
				margin-top: 15px;
			}
		}

		&:hover {
			color: $orange-color;
		}
	}

	&__menu {
		overflow-x: auto;
		white-space: nowrap;
	}
}

.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 21px;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		text-align: center;
		letter-spacing: 0.2px;
		color: #737373;
		transition: all 0.3s;

		&:hover {
			color: $orange-color;
		}

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}
}
